<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Brahma - About</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
	<style>
		.navbar-brand{
				text-transform: uppercase;
				letter-spacing: 3px;
			}
			
		.nav-link{
			letter-spacing: 1px;
		}
		
		.container{
			margin-bottom: 30px;
		}
	</style>
</head>
<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-transparent justify-content-center">
		  <a class="navbar-brand" href="/">Brahma</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto navbar-right">
			  <li class="nav-item">
				<a class="nav-link" href="/">Home</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/about">About</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/gallery">Gallery</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="/contact">Contact</a>
			  </li>
			</ul>
		  </div>
		</nav>
	</div>

	<section class="text-gray-700 body-font">
	  <div class="container px-3 py-4 mx-auto">
		<div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
		  <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block w-8 h-8 text-gray-400 mb-8" viewBox="0 0 975.036 975.036">
			<path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
		  </svg>
		  <p class="leading-relaxed text-lg mb-0">Hotel Brahma Pure Veg offers you a comfortable and warm atmosphere to hang out with your family and  friends. Enliven your senses with variety of delicacies and flavours all at one place. Along with North Indian and Chinese Cuisine, we also serve some authentic Maharashtrian food- Stuffed brinjal, Zunka ,served with raita! The indulgence of the serene ambience provides a gratifying ambience to the diners. The staff at Hotel Brahma Pure Veg is cordial and polite which adds to the overall experience. Visit us and help us treat your taste buds.</p>
		</div>
	  </div>
	</section>

	<section class="text-gray-700 body-font">
	  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
		<img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://i.imgur.com/5FSjpIn.jpg">
		<div class="text-center lg:w-2/3 w-full">
		  <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Pranav Patil</h1>
		  <p class="mb-8 leading-relaxed">An undying passion for cooking with an authentic food taste; A man who believes that cooking is an art, and representing his venture - Hotel Brahma Pure Veg! Pranav Patil is born & brought up in sangli, Maharashtra. He aims to introduce a Hygenic and delicious fare to  the place that is close to his heart - Sangli. One of the things that makes him stand out is his determination to stick to his roots and the Authentic Traditional flavours and spices. He has completed his Bsc in hospitality studies in the year 2020 from M.A. Rangoonwala Institute of Hotel Management & Research, Pune. To add to his experience he has worked at Wyndham Garden, Queenstown, Newzealand in the year 2018-19. His love for cooking and an authentic taste in food makes him bring this venture to you all.</p>
		</div>
	  </div>
	</section>

<%- include("./partials/footer") %>